body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

/*********** 1st section style start ************/
@keyframes sliding {
    from {
        background-color: gray;
    }

    to {
        background-color: rgb(80, 80, 232);
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #161616;
    border-radius: 20px;
    width: 80%;
    margin: 5%;
    margin-left: 160px;
    animation: sliding 5s ease-in-out 0.5s 3 alternate;

}

.container-1 {
    width: 80%;
    margin: 0 auto;
}

.player {
    padding-left: 80px;
    padding-top: 45px;
}

.player img {
    width: 450px;
}

.player-info {
    color: #FFFFFF;
    font-size: 30px;

}

.font {
    font-size: 14px;
}

#button-animation {
    background-color: #DD0000;
    border: none;
    padding: 16px 25px;
    color: #f8f2f2;
    border-radius: 5px;
}

#button-animation:hover {
    color: #2a2828;
    cursor: pointer;
    background-color: #B9B9B9;
    box-shadow: 0px 9px #999;
    border-radius: 10px;
}

/********** 1st section style end ***********/
/*********** main style ***********/
.container-player {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.block {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 30px;
    gap: 20px;
    width: 50%;
    height: 23%;
    background-color: #161616;
    border-radius: 15px;
}

a {
    background-color: #FFFFFF;
    border: 2px solid black;
    text-align: center;
    padding: 16px 17px;
    color: #161616;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}

.red {
    background-color: #7200dd;
    color: #FFFFFF;
}

.player-rating {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.player-box {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    border-radius: 5px;
}

.player-box img {
    width: 100%;
}

.player-information {
    padding-left: 15px;
}

/* *******footer style start******** */
footer {
    background-color: #161616;
    padding: 50px;
    text-align: center;
    margin-top: 5%;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 90%;
}

h4 {
    color: #FFFFFF;
    font-size: 40px;
}

span {
    color: #ccbebe;
    margin-left: 10px;
}

#color {
    background-color: #161616;
    color: #ccbebe;
    border: none;
}

#icons {
    margin-top: 3%;

}

/* footer end */
/* **********upcoming match style*********** */
.container {
    width: 80%;

}

.container-player-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.block-2 {
    display: grid;
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-rows: repeat(3, 1fr);
    padding: 30px;
    gap: 15px;
    width: 50%;
    height: 53%;
    background-color: #161616;
    border-radius: 15px;
}

.player-ratings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* margin-right: 145px; */
}

.red-2 {
    background-color: #7600dd;
    color: #FFFFFF;
}

.country-vs {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 263px;
}

.country {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6px;
    padding: 22px;
}

.country-name {
    /* padding-left: 20px; */
    text-align: center;
    color: #161616;
    font-size: 20px;
}

.view {
    background-color: #DD0000;
    border: none;
    padding: 16px 50px;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 45%;
    margin-top: 5%;
    visibility: hidden;
}

/* ********** Media Queries start index.html*********** */
/* **********Index.html Media Queries Mobile divice*********** */
@media only screen and (max-width:688px) {
    .container {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        margin: 1.50%;
        padding: 4%;
        text-align: center;

    }

    .player img {
        width: 100%;
        height: 105%;
    }

    .container-player {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }

    .block {
        width: 90%;
        grid-template-rows: repeat(1, 1fr);
        display: grid;
        padding: 0;
        gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 15px;
    }

    .player-rating {
        grid-template-columns: repeat(1, 1fr);
    }

    span {
        display: block;
        padding: 10px;
    }
}

/* 
/* *************Index.html Media Queries tablet divice start***************** */
/* @media only screen and (min-width:688px) and (max-width:992) {
    .container {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        /* margin: 5%; */
/* padding: 4%;
text-align: center;

}

.player img {
    width: 40%;
    height: 110%;
}

.container-player {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
}

.block {
    width: 90%;
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    padding: 0;
    gap: 10px;
    /* justify-content: center;
        align-items: center; */
/* background-color: #FFFFFF;
    border-radius: 15px;
}
}

*/

/* *************Media Queries end index.html end**************** */
/* ****************************** */
@media only screen and (max-width:688px) {
    .container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        margin: 1.5%;
        padding: 4%;
        text-align: center;

    }

    .container-player-2 {
        width: 50%;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }

    .block-2 {
        width: 90%;
        grid-template-rows: repeat(1, 1fr);
        display: grid;
        gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 15px;
    }

    .player-ratings {
        grid-template-columns: repeat(1, 1fr);

    }

    .country-vs {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
        background-color: #FFFFFF;
        border-radius: 10px;
        width: 400px;
        margin: 3%;

    }

    .country {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: px;
        padding: 44px;
    }

    .player img {
        width: 100%;
        height: 105%;
    }

}